URxvt.termName:		rxvt-256color
URxvt.scrollBar:	false
URxvt.internalBorder:	10
URxvt.lineSpace:	1
!URxvt.letterSpace:	-1
URxvt.font:		xft:monospace:size=11

URxvt*depth:		32
!URxvt*background:	rgba: 0000/0000/0200/c800

! Colours
*background:	#2E3440
*midground:	#898690
*foreground:	#E5E9F0

! green
*color10:	#A3BE8C

! blue
*color12:	#81A1C1
