!*.font: xft:InputMono:size=10

URxvt.termName:		rxvt-256color
URxvt.scrollBar:	false
URxvt.internalBorder:	10
URxvt.lineSpace:	1
URxvt.letterSpace:	-1
URxvt.font:		xft:monospace:size=10

! Colours

*background: #282828
*foreground: #ebdbb2

*color3: #ef6d82

i3status.statusline: #f0c674
!i3status.statusline: #add8e6
!i3status.statusline: #ebdbb2
i3status.inactiveText: #999999
